{% load static %}
<script src="{% static "../static/js/jquery-3.4.1.js" %}"></script>
<script src="{% static "../static/js/deploy.js" %}"></script>

<div class="container">
    <div>
        {% include 'base.html' %}
    </div>
    <ol class="breadcrumb">
        <li><a href="{% url "index" %}">发布首页</a></li>
        <li id="appnameli">{{ app.name }}</li>
    </ol>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="servers" class="col-sm-1 control-label">服务器</label>
            <div id="servers" class="col-sm-11">
              {% for h in app.host.all %}
                  <label class="checkbox-inline">
                      <input type="checkbox" name="host" id="host{{ forloop.counter }}" value="{{ h.ip }}"> {{ h.ip }}
                  </label>
              {% endfor %}
            </div>
        </div>

        <div class="form-group">
            <label for="jarurl" class="col-sm-1 control-label">包 URL</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="jarurl">
            </div>
            <div class="col-sm-2">
              <p class="form-control-static text-warning">仅发布时需要填写</p>
            </div>
        </div>

        <div class="form-group">
            <label for="jardir" class="col-sm-1 control-label">部署路径</label>
            <div id="jardirdiv" class="col-sm-5">
              <input class="form-control" id="jardir" type="text" placeholder="{{ app.jar_dir }}" value="{{ app.jar_dir }}" disabled>
            </div>
            <label for="port" class="col-sm-1 control-label">端口号</label>
            <div id="portdiv" class="col-sm-5">
              <input class="form-control" id="port" type="text" placeholder="{{ app.port }}" value="{{ app.port }}" disabled>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
                <button name="{{ app.name }}" class="btn btn-primary" type="button" id="deploy_app">发布</button>
                <button name="{{ app.name }}" class="btn btn-info" type="button" id="check" value="check">检查</button>
                <button name="{{ app.name }}" class="btn btn-info" type="button" id="start" value="start">启动</button>
                <button name="{{ app.name }}" class="btn btn-info" type="button" id="restart" value="restart">重启</button>
                <button name="{{ app.name }}" class="btn btn-info" type="button" id="stop" value="stop">停止</button>
            <button onclick="location.href='{% url "index" %}'" type="button" class="btn btn-default">返回</button>
            </div>
        </div>

    </form>
    <hr class="simple" color="#6f5499" />

    <div class="panel panel-default">
      <div class="panel-heading">日志输出</div>
      <div class="panel-body" id="messagecontainer"></div>
    </div>

</div>