{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link href="{% static 'css/plugins/jsTree/style.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/codemirror/codemirror.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/codemirror/ambiance.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
{% endblock %}

{% block page-head %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>配置中心</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">首页</a>
                </li>
                <li class="active">
                    <strong>配置中心</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block page-content %}
    <div class="row">
        <div class="col-lg-3">
            <div>
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div id="config_file" class="demo">
                        <ul>
                            {% for project in project_list %}
                                {% if project.configfile_set.all %}
                                    {% if forloop.counter == 1 %}
                                        <li data-jstree='{ "opened" : true }'>{{ project }}
                                    {% else %}
                                        <li>{{ project }}
                                    {% endif %}

                                        <ul>
                                            {% for config in project.configfile_set.all %}
                                                <li name="{{ config.project.name }}" value="file">{{ config.file_name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endfor %}

                        </ul>
                    </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div>
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="card shadow mb-4">
                            <div class="card-header py-2">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <button id='save_file' class="btn btn-info btn-sm">保存</button>
                                        <button id='add_file' class="btn btn-info btn-sm">新增</button>
                                        <button id='del_file' class="btn btn-danger btn-sm">删除</button>
                                    </div>
                                    <div class="col-lg-8" style="vertical-align: center">
                                        <span id="file_p" style="float: right"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="alter"></div>
                            <div class="card-body">
                                <textarea id="file_content" name="content"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/plugins/codemirror/codemirror.js' %}"></script>
    <script src="{% static 'js/plugins/codemirror/mode/nginx/nginx.js' %}"></script>
    <script src="{% static 'js/plugins/jsTree/jstree.min.js' %}"></script>
    <script src="{% static 'js/plugins/sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static "js/config-file.js" %}"></script>
{% endblock %}