{% load static %}
{% include 'base.html' %}
<link rel="stylesheet" href="{% static "css/style.min.css" %}" />
<link href="{% static 'codemirror/codemirror.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'codemirror/monokai.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'codemirror/fullscreen.css' %}" rel="stylesheet" type="text/css">

<!-- 引入CodeMirror核心文件 -->
<script type="text/javascript" src="{% static 'codemirror/codemirror.js' %}"></script>
<script type="text/javascript" src="{% static 'codemirror/nginx.js' %}"></script>

<!-- 下面分别为显示行数、括号匹配和全屏插件 -->
<script type="text/javascript" src="{% static 'codemirror/active-line.js' %}"></script>
<script type="text/javascript" src="{% static 'codemirror/matchbrackets.js' %}"></script>
<script type="text/javascript" src="{% static 'codemirror/fullscreen.js' %}"></script>

<script src="{% static "js/jstree.min.js" %}"></script>
<script src="{% static "js/config-file.js" %}"></script>
<div id="wrapper">
    {% include 'navbar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
        {% include 'top.html' %}
        <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
              <div class="card shadow mb-4">
                <div class="card-body">
                    <div id="config_file" class="demo">
                        <ul>
                            {% for project in project_list %}
                                {% if project.configfile_set.all %}
                                    {% if forloop.counter == 1 %}
                                        <li data-jstree='{ "opened" : true }'>{{ project }}
                                    {% else %}
                                        <li>{{ project }}
                                    {% endif %}

                                        <ul>
                                            {% for config in project.configfile_set.all %}
                                                <li name="{{ config.project.name }}">{{ config.file_name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endfor %}

                        </ul>
                    </div>
                </div>
              </div>
            </div>

            <div class="col-lg-9">
              <div class="card shadow mb-4">
                <div class="card-header py-2">
                    <button id='save_file' class="btn btn-info btn-sm">保存</button>
                </div>
                <div class="card-body">
                    <textarea id="file_content" name="content"></textarea>
                </div>
              </div>
            </div>
        </div>
        </div>
    </div>
</div>