{% extends 'base.html' %}
{% load static %}

{% block scripts %}
<script src="{% static "js/deploy.js" %}"></script>
{% endblock %}

{% block page-head %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>应用发布</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">首页</a>
                </li>
                <li class="active">
                    <strong>应用发布</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block page-content %}
    <div class="wrapper wrapper-content">
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
                            {% if name == 'null' %}
                                选择模块
                            {% else %}
                                {{ name }}
                            {% endif %}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% for model in model_list %}
                                <li><a class="dropdown-item" href="{% url 'deployjar:deploy' %}?name={{ model.name }}&env={{ env }}">{{ model.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
                            {% if env == 'null' %}
                            选择环境
                            {% elif env == 'pro' %}
                                生产环境
                            {% elif env == 'test' %}
                                测试环境
                            {% endif %}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'deployjar:deploy' %}?name={{ name }}&env=test">测试环境</a></li>
                            <li><a class="dropdown-item" href="{% url 'deployjar:deploy' %}?name={{ name }}&env=pro">生产环境</a></li>
                       </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <table class="table table-bordered">
                    <thead>
                        <td style="text-align: center" width="6%"><input type="checkbox" id="all_ckb" name="SelectAll"></td>
                        <td>IP</td>
                        <td>端口号</td>
                        <td>包名</td>
                        <td>环境</td>
                        <td>模块名</td>
                    </thead>
                    <tbody>
                    {% for instance in instances %}
                        <tr>
                            <td style="text-align: center"><input type="checkbox" name="instance" id="instance{{ forloop.counter }}" value="{{ instance.id }}" onclick="ch_all_chk()"></td>
                            <td>{{ instance.host.ip  }}</td>
                            <td>{{ instance.port }}</td>
                            <td>{{ instance.package }}</td>
                            {% if instance.host.env == 'test' %}
                                <td>测试环境</td>
                            {% elif instance.host.env == 'pro' %}
                                <td>生产环境</td>
                            {% endif %}
                            <td>{{ instance.name.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>
                        包 URL (仅发布时需要填写，获取地址 http://188.188.1.131:200)
                    </label>
                    <div>
                      <input type="text" id="jarurl" class="form-control">
                    </div>
                </div>
                <div>
                    <button class="btn btn-info" type="button" id="deploy_app">发布</button>
                    <button class="btn btn-info" type="button" id="check" value="check">检查</button>
                    <button class="btn btn-info" type="button" id="start" value="start">启动</button>
                    <button class="btn btn-info" type="button" id="restart" value="restart">重启</button>
                    <button class="btn btn-info" type="button" id="stop" value="stop">停止</button>
                </div>
            </div>
        </div>

        <hr/>
        <label>执行结果</label>
        <pre class="well" id="messagecontainer"></pre>
    </div>
    </div>
{% endblock %}