{% include 'base.html' %}
<div id="wrapper">
    {% include 'navbar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
        {% include 'top.html' %}
        <div class="container-fluid">
            <h6 class="mb-2 text-gray-800">应用资料>主机</h6>
			<table class="table table-bordered dataTable">
                <thead>
                <tr>
                      <th>#</th>
                      <th>主机名</th>
                      <th>IP 地址</th>
                      <th>版本</th>
                      <th>配置</th>
                      <th>位置</th>
                      <th>创建时间</th>
                </tr>
                </thead>
                <tbody>
                {% for h in hosts %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="/admin/deployjar/host/{{ h.id }}/change/"> {{ h.name }}</a></td>
                        <td>{{ h.ip }}</td>
                        <td>{{ h.version }}</td>
                        <td>{{ h.config }}</td>
                        <td>{{ h.position }}</td>
                        <td>{{ h.created_at }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-12 col-md-7">
                <span class="step-links">
                    {% if hosts.has_previous %}
                        <a href="?page=1">首页</a>
                        <a href="?page={{ hosts.previous_page_number }}">上一页</a>
                    {% endif %}

                    <span class="current">
                        当前 {{ hosts.number }} / {{ hosts.paginator.num_pages }}
                    </span>

                    {% if hosts.has_next %}
                        <a href="?page={{ hosts.next_page_number }}">下一页</a>
                        <a href="?page={{ hosts.paginator.num_pages }}">尾页</a>
                    {% endif %}
                </span>
                </div>
            </div>
        </div>
    </div>
</div>
