{% include 'base.html' %}
<div id="wrapper">
    {% include 'navbar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
        {% include 'top.html' %}
        <div class="container-fluid">
            <div class="row">
                {% if env == 'all' %}
                    <div class="col-lg-10 control-label"><h6 class="mb-2 text-gray-800">主机</h6></div>
                {% elif env == 'test' %}
                    <div class="col-lg-10"><h6 class="mb-2 text-gray-800">测试环境主机</h6></div>
                {% elif env == 'pro' %}
                    <div class="col-lg-10"><h6 class="mb-2 text-gray-800">生产环境主机</h6></div>
                {% endif %}
                <div class="col-lg-1">
                    <div class="dropdown mb-1" style="text-align:right">
                    <button class="btn btn-info dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      选择类别
                    </button>
                    <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{% url 'common:host' %}?type=nginx&env={{ env }}">nginx</a>
                      <a class="dropdown-item" href="{% url 'common:host' %}?type=java&env={{ env }}">java</a>
                      <a class="dropdown-item" href="{% url 'common:host' %}?type=mysql&env={{ env }}">mysql</a>
                      <a class="dropdown-item" href="{% url 'common:host' %}?type=redis&env={{ env }}">redis</a>
                    </div>
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="dropdown mb-1" style="text-align:right">
                    <button class="btn btn-info dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      选择环境
                    </button>
                    <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{% url 'common:host' %}?type={{ type }}&env=test">测试环境</a>
                      <a class="dropdown-item" href="{% url 'common:host' %}?type={{ type }}&env=pro">生产环境</a>
                    </div>
                    </div>
                </div>
            </div>
            <hr/>
			<table class="table table-bordered dataTable">
                <thead>
                <tr>
                      <th>#</th>
                      <th>主机名</th>
                      <th>IP 地址</th>
                      <th>版本</th>
                      <th>配置</th>
                      <th>类别</th>
                      <th>位置</th>
                      <th>环境</th>
                      <th>创建时间</th>
                </tr>
                </thead>
                <tbody>
                {% for h in hosts %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="/admin/deployjar/host/{{ h.id }}/change/"> {{ h.name }}</a></td>
                        <td>{{ h.ip }}</td>
                        <td>{{ h.version }}</td>
                        <td>{{ h.config }}</td>
                        <td>{{ h.type }}</td>
                        <td>{{ h.position }}</td>
                        {% if h.env == 'test' %}
                            <td>测试环境</td>
                        {% elif h.env == 'pro' %}
                            <td>生产环境</td>
                        {% endif %}
                        <td>{{ h.created_at }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6 col-md-7" style="text-align:right">
                <span class="step-links">
                    {% if hosts.has_previous %}
                        <a href="?&page=1&type={{ type }}&env={{ env }}">首页</a>
                        <a href="?page={{ hosts.previous_page_number }}&type={{ type }}&env={{ env }}">上一页</a>
                    {% endif %}

                    <span class="current">
                        当前 {{ hosts.number }} / {{ hosts.paginator.num_pages }}
                    </span>

                    {% if hosts.has_next %}
                        <a href="?page={{ hosts.next_page_number }}&type={{ type }}&env={{ env }}">下一页</a>
                        <a href="?page={{ hosts.paginator.num_pages }}&type={{ type }}&env={{ env }}">尾页</a>
                    {% endif %}
                </span>
                </div>
            </div>
        </div>
    </div>
</div>
