{% extends 'base.html' %}

{% block page-head %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>应用资料</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">首页</a>
                </li>
                <li>应用资料</li>
                <li class="active">
                    <strong>JAVA 实例</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block page-content %}
<div class="wrapper wrapper-content">
    <div class="ibox-title">
        <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
                {% if env == 'all' %}
                    选择环境
                {% elif env == 'test' %}
                    测试环境
                {% elif env == 'pro' %}
                    生产环境
                {% endif %}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'common:instance' %}?env=test">测试环境</a></li>
                <li><a class="dropdown-item" href="{% url 'common:instance' %}?env=pro">生产环境</a></li>
           </ul>
        </div>
{#        <a href="{% url 'common:add_instance' %}" class="btn btn-info">新增</a>#}
        <button id="btn_add_host_modal" type="button" class="btn btn-info" data-toggle="modal" data-target="#addModal">
            新增
        </button>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered dataTable">
                <thead>
                <tr>
                      <th>主机 IP</th>
                      <th>实例名</th>
                      <th>端口号</th>
                      <th>包名</th>
                      <th>部署路径</th>
                      <th>环境</th>
                      <th>创建时间</th>
                </tr>
                </thead>
                <tbody>

                {% for host in hosts %}
                <tr>
                    {% if host.instance_set.all.count > 0 %}
                        <td rowspan="{{ host.instance_set.all.count }}" style="vertical-align: middle">{{ host.ip }}</td>
                        {% for instance in host.instance_set.all %}
                            {% if forloop.counter != 1 %}
                                <tr>
                            {% endif %}
                            <td>
                                <a href="/admin/deployjar/instance/{{ instance.id }}/change/" target="_blank">{{ instance.name }}</a>
                            </td>
                            <td>
                                {{ instance.port }}
                            </td>
                            <td>
                                {{ instance.package }}
                            </td>
                            <td>
                                {{ instance.dir }}
                            </td>
                            {% if host.env == 'test' %}
                                <td>测试环境</td>
                            {% elif host.env == 'pro' %}
                                <td>生产环境</td>
                            {% endif %}
                            <td>
                                {{ instance.created_at }}
                            </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <td>{{ host.ip }}</td>
                        <td colspan="6">没有实例</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <div class="row" style="margin-bottom: 20px">
                <div class="col-lg-6"></div>
                <div class="col-lg-6 col-md-7" style="text-align:right">
                <span class="step-links">
                    {% if hosts.has_previous %}
                        <a href="?page=1&env={{ env }}">首页</a>
                        <a href="?page={{ hosts.previous_page_number }}&env={{ env }}">上一页</a>
                    {% endif %}

                    <span class="current">
                        当前 {{ hosts.number }} / {{ hosts.paginator.num_pages }}
                    </span>

                    {% if hosts.has_next %}
                        <a href="?page={{ hosts.next_page_number }}&env={{ env }}">下一页</a>
                        <a href="?page={{ hosts.paginator.num_pages }}&env={{ env }}">尾页</a>
                    {% endif %}
                </span>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
        $('#li_app_info').addClass('active')
        $('#li_app_info').addClass('in')
        $('#li_java_instance').addClass('active')

        $('form label').addClass('col-lg-2 control-label')
        $('form input').addClass('form-control')
        $('form select').addClass('form-control')
        $('form ul').addClass('col-lg-offset-2')

        {% if stat == 'error' %}
            $('#btn_add_host_modal').click()
        {% endif %}
    </script>
{% endblock %}
