{% extends 'base.html' %}

{% block page-head %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>应用资料</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">首页</a>
                </li>
                <li>应用资料</li>
                <li class="active">
                    <strong>Kafka 集群</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block page-content %}
    <div class="row wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div>
                            <a href="/admin/deployjar/kafkacluster/add/" class="btn btn-info" target="_blank">新增集群</a>
                            <a href="/admin/deployjar/kafkainstance/add/" class="btn btn-info" target="_blank">新增实例</a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-bordered dataTable">
                            <thead>
                            <tr>
                                <th>集群名</th>
                                <th>项目</th>
                                <th>IP 地址</th>
                                <th>端口号</th>
                                <th>环境</th>
                                <th>版本</th>
                                <th>配置文件</th>
                                <th>创建时间</th>
                                <th style="width: 5%">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for kc in kafka_cluster_list %}
                            {% if kc.kafkainstance_set.all.count > 0 %}
                                <tr>
                                    <td rowspan="{{ kc.kafkainstance_set.all.count }}" style="vertical-align: middle">
                                        <a href="/admin/deployjar/kafkacluster/{{ kc.id }}/change/" target="_blank">{{ kc.name }}</a>
                                    </td>
                                    <td rowspan="{{ kc.kafkainstance_set.all.count }}" style="vertical-align: middle">
                                        {% for p in kc.project.all %}
                                            {% if forloop.counter == 1 %}
                                                {{ p.name }}
                                            {% else %}
                                                , {{ p.name }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    {% for instance in kc.kafkainstance_set.all %}
                                        {% if forloop.counter != 1 %}
                                            <tr>
                                        {% endif %}
                                            <td>{{ instance.host.ip }}</td>
                                            <td>{{ instance.port }}</td>
                                            {% if instance.host.env == 'test' %}
                                                <td>测试环境</td>
                                            {% elif instance.host.env == 'pro' %}
                                                <td>生产环境</td>
                                            {% endif %}
                                            <td>{{ instance.version }}</td>
                                            <td>{{ instance.config_file.file_name }}</td>
                                            <td>{{ instance.created_at }}</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button style="margin-bottom: 0px" data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle" aria-expanded="false">
                                                        操作<span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="/admin/deployjar/kafkainstance/{{ instance.id }}/change/" target="_blank">修改</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                            {% else %}
                                <tr>
                                    <td><a href="/admin/deployjar/kafkacluster/{{ rc.id }}/change/" target="_blank">{{ kc.name }}</a></td>
                                    <td>
                                        {% for p in kc.project.all %}
                                            {% if forloop.counter == 1 %}
                                                {{ p.name }}
                                            {% else %}
                                                , {{ p.name }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td colspan="7">未指定实例</td>
                                </tr>
                            {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>

                        <div class="row">
                            <div class="col-lg-6"></div>
                            <div class="col-lg-6 col-md-7" style="text-align:right">
                            <span class="step-links">
                                {% if kafka_cluster_list.has_previous %}
                                    <a href="?page=1">首页</a>
                                    <a href="?page={{ kafka_cluster_list.previous_page_number }}">上一页</a>
                                {% endif %}

                                <span class="current">
                                    当前 {{ kafka_cluster_list.number }} / {{ kafka_cluster_list.paginator.num_pages }}
                                </span>

                                {% if kafka_cluster_list.has_next %}
                                    <a href="?page={{ kafka_cluster_list.next_page_number }}">下一页</a>
                                    <a href="?page={{ kafka_cluster_list.paginator.num_pages }}">尾页</a>
                                {% endif %}
                            </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('#li_app_info').addClass('active')
        $('#ul_app').addClass('in')
        $('#li_kafka').addClass('active')
    </script>
{% endblock %}