{% include 'base.html' %}
<div id="wrapper">
    {% include 'navbar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
        {% include 'top.html' %}
        <div class="container-fluid">
            <h6 class="mb-2 text-gray-800">系统模块</h6>
            <hr/>
			<table class="table table-bordered dataTable">
                <thead>
                <tr>
                      <th>模块名</th>
                      <th>主机 IP</th>
                      <th>端口号</th>
                      <th>包名</th>
                      <th>部署路径</th>
                      <th>环境</th>
                      <th>创建时间</th>
                      <th>操作</th>
                </tr>
                </thead>
                <tbody>

                {% for model in models %}
                {% if model.instance_set.all.count > 0 %}
                    <tr>
                        <td rowspan="{{ model.instance_set.all.count  }}">
                            <a href="/admin/deployjar/jarmodel/{{ model.id }}/change/" target="_blank">{{ model.name }}</a>
                        </td>
                    {% for instance in model.instance_set.all %}
                        {% if forloop.counter != 1 %}
                            <tr>
                        {% endif %}
                            <td>
                                {{ instance.host.ip }}
                            </td>
                            <td>
                                {{ instance.port }}
                            </td>
                            <td>
                                {{ instance.package }}
                            </td>
                            <td>
                                {{ instance.dir }}
                            </td>
                            {% if instance.host.env == 'test' %}
                                <td>测试环境</td>
                            {% elif instance.host.env == 'pro' %}
                                <td>生产环境</td>
                            {% endif %}
                            <td>
                                {{ instance.created_at }}
                            </td>
                            <td><a class="btn-info btn-sm" href="/admin/deployjar/instance/{{ instance.id }}/change/" target="_blank">修改</a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <div class="row" style="margin-bottom: 20px">
                <div class="col-lg-6"></div>
                <div class="col-lg-6 col-md-7" style="text-align:right">
                <span class="step-links">
                    {% if models.has_previous %}
                        <a href="?page=1">首页</a>
                        <a href="?page={{ models.previous_page_number }}">上一页</a>
                    {% endif %}

                    <span class="current">
                        当前 {{ models.number }} / {{ models.paginator.num_pages }}
                    </span>

                    {% if models.has_next %}
                        <a href="?page={{ models.next_page_number }}">下一页</a>
                        <a href="?page={{ models.paginator.num_pages }}">尾页</a>
                    {% endif %}
                </span>
                </div>
            </div>
        </div>
    </div>
</div>
