<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-dog"></i>
        </div>
        <div class="sidebar-brand-text mx-3">运维管理系统</div>
      </a>

      <hr class="sidebar-divider my-0">

	  <li class="nav-item active">
        <a class="nav-link" href="/deployjar/">
          <i class="fas fa-fw fa-sign-in-alt"></i>
          <span>发布 JAR 包</span></a>
      </li>

	  <li class="nav-item active">
        <a class="nav-link" href="/dbmanager/">
          <i class="fas fa-fw fa-sync"></i>
          <span>还原数据库</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/common/checkbackup/">
          <i class="fas fa-fw fa-database"></i>
          <span>查看备份</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'common:upload_files' %}">
          <i class="fas fa-fw fa-database"></i>
          <span>更新模板</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'common:domain' %}">
          <i class="fas fa-fw fa-address-book"></i>
          <span>域名管理</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'common:project' %}">
          <i class="fas fa-fw fa-campground"></i>
          <span>项目管理</span></a>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item active">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-file-alt"></i>
          <span>应用资料</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'common:host' %}?env=all&type=all">主机</a>
            <a class="collapse-item" href="{% url 'common:instance' %}?env=all">JAVA 实例</a>
            <a class="collapse-item" href="{% url 'common:model' %}">系统模块</a>
            <a class="collapse-item" href="{% url 'common:mysqldb' %}">MySQL 数据库</a>
          </div>
        </div>
      </li>

{#      <hr class="sidebar-divider d-none d-md-block">#}

      <!-- Sidebar Toggler (Sidebar) -->
{#      <div class="text-center d-none d-md-inline">#}
{#        <button class="rounded-circle border-0" id="sidebarToggle"></button>#}
{#      </div>#}

    </ul>
    <!-- End of Sidebar -->