{% extends 'base.html' %}
{% load static %}

{% block scripts %}
<script src="{% static "js/tasks.js" %}"></script>
{% endblock %}

{% block page-head %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>任务管理</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">首页</a>
                </li>
                <li>任务管理</li>
                <li class="active">
                    <strong>下发任务</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block page-content %}
<div class="row wrapper wrapper-content">
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
                            {% if type == 'all' %}
                                选择类别
                            {% else %}
                                {{ type }}&nbsp;主机
                            {% endif %}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% for t in type_list %}
                                <li><a class="dropdown-item" href="{% url 'common:tasks' %}?type={{ t }}&env={{ env }}">{{ t }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
                            {% if env == 'all' %}
                                选择环境
                            {% elif env == 'test' %}
                                测试环境
                            {% elif env == 'pro' %}
                                生产环境
                            {% endif %}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'common:tasks' %}?type={{ type }}&env=test">测试环境</a></li>
                            <li><a class="dropdown-item" href="{% url 'common:tasks' %}?type={{ type }}&env=pro">生产环境</a></li>
                       </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <table class="table table-bordered dataTable">
                    <thead>
                        <td width="6%"></td>
                        <td>名称</td>
                        <td>IP</td>
                        <td>类型</td>
                        <td>环境</td>
                    </thead>
                    <tbody>
                    {% for h in hosts %}
                        <tr>
                            <td style="text-align: center"><input type="checkbox" name="host" id="host{{ forloop.counter }}" value="{{ h.ip }}"></td>
                            <td>{{ h.name }}</td>
                            <td>{{ h.ip }}</td>
                            <td>{{ h.type }}</td>
                            {% if h.env == 'test' %}
                                <td>测试环境</td>
                            {% elif h.env == 'pro' %}
                                <td>生产环境</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div>
                    <span class="step-links pull-right">
                        {% if hosts.has_previous %}
                            <a href="?&page=1&type={{ type }}&env={{ env }}">首页</a>
                            <a href="?page={{ hosts.previous_page_number }}&type={{ type }}&env={{ env }}">上一页</a>
                        {% endif %}

                        <span class="current">
                            当前 {{ hosts.number }} / {{ hosts.paginator.num_pages }}
                        </span>

                        {% if hosts.has_next %}
                            <a href="?page={{ hosts.next_page_number }}&type={{ type }}&env={{ env }}">下一页</a>
                            <a href="?page={{ hosts.paginator.num_pages }}&type={{ type }}&env={{ env }}">尾页</a>
                        {% endif %}
                    </span>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="ibox">
                    <table class="table table-bordered dataTable">
                        <thead>
                        <td width="6%"></td>
                        <td>名称</td>
                        <td>类别</td>
                        <td>脚本</td>
                        </thead>
                        <tbody>
                        {% for task in task_list %}
                            <tr>
                                <td style="text-align: center"><input type="checkbox" name="task" id="task{{ forloop.counter }}" value="{{ task.id }}"></td>
                                <td>{{ task.name }}</td>
                                <td>{{ task.type.cn_name }}</td>
                                <td>{{ task.script }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div>
                    <button name="manager" class="btn btn-info" type="button" id="exec_tasks">开始执行</button>
                    <button id="btn_show_modal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="display: none">Large Modal</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}