location /api/xjcd/v1/query_equip_charge_status {
        # limit_req zone=req_zone_xjcd burst=1 nodelay;
        limit_conn perserver 10;
        proxy_connect_timeout 300;
        proxy_send_timeout 300;
        proxy_read_timeout 300;
        proxy_pass http://172.16.1.50;
        # proxy_pass http://adminservers;
        # deny all;
    }